@model List<Brand>

<h1>Marcas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Brand in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>Brand.Name)</td>
            </tr>
        }
    </tbody>
</table>